
body {
    background-image: url(/IMAGENS/fundo.jpg);
}
*{
    transition: all 2s ease-in-out;
}

#jumbo {
}

.opacity-100 {
    opacity: 1;
    margin-top: 0;
    
}

.opacity-0 {
    opacity: 0;
    margin-top: -100px;
}

.container-window{
    width: 100dvw;
    height: 50dvh;
}

/* .carousel-control-next{
    position
} */


#vscodeIcon{
    width: 50px;
    height: 50px;
}

.hidden {
    opacity: 0;
    margin-top: 90dvh;
}
/* tf am I doing twin 😀 */